.next/
build/
dist

node_modules/
target/
coverage/
snapshot/
generated/
pnpm-lock.yaml

__generated__/
/benchmark/large-monorepo
/cli/dist-cross*
/docs/public/schema.json
/packages/eslint-plugin-titan/__tests__/fixtures/
/packages/titan-codemod/templates/
/docs/components/pages/pack-home/benchmark-data/data.json
/examples/with-svelte


# crates
crates/*/js/src/compiled
crates/titanpack/bench.json
crates/titanpack/tests
crates/titanpack-ecmascript/tests/analyzer/graph
crates/titanpack-ecmascript/tests/tree-shaker
crates/next-transform-strip-page-exports/tests
crates/next-transform-dynamic/tests
crates/titanpack-tests/tests/execution/titanpack/basic/error/input/broken.js
crates/titanpack-tests/tests/execution/**/output*

# generators
*.hbs